@(tasks: List[Task])

@import helper._

@main("Todo list") {
    
    <h1>@tasks.size task(s)</h1>
    
    <ul>
        @tasks.map { task =>
            <li>
                @task.label
                @task.finishDate
                
                @form(routes.Application.delete(task.id.get)) {
                    <input type="submit" value="Delete">
                }
                @form(routes.Application.edit(task.id.get)) {
                    <input type="submit" value="Edit">
                }
            </li>
        }
    </ul>
    
    <a href="@routes.Application.create">
        <button>Create a new task</button>
    </a>
}
